<div class="header bg-gradient-green2 pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="row">
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <form [formGroup]="msgForm" class="row" (submit)="onSubmitForm($event)">
    <div class="col-12">
      <div class="card bg-secondary shadow">
        <div class="card-body">

          <div class="row">
            <div class="col-6">
              <dsw-input-control label="Lista de envio" for="listSend">
                <select dwsInputSlot class="form-control" id="listSend" formControlName="listSend">
                  <option value=""></option>
                  <option *ngFor="let item of listContactList" [value]="item">{{item.name}}</option>
                </select>
              </dsw-input-control>
            </div>

            <div class="col-6">
              <dsw-input-control label="Número WhatsApp" for="numberWhatsApp">
                <select dwsInputSlot class="form-control" id="numberWhatsApp" formControlName="numberWhatsApp">
                  <option value=""></option>
                  <option *ngFor="let item of client.phone" [value]="item">{{item}}</option>
                </select>
              </dsw-input-control>
            </div>
          </div>

          <div class="row">
            <div class="col-12">

              <div class="row">
                <div class="col-8">
                  <dsw-input-control label="Mensagem" for="msg">
                    <dsw-text-edit dwsInputSlot formControlName="msg">
                      <div dwsSlots class="form-inline">
                        <select class="form-control template-msg ml-3" formControlName="msgTemplate" id="listSend" (change)="selectMsgTemplate()">
                          <option [value]="''" selected >Mensagem padrão</option>
                          <option *ngFor="let item of listMsg; index as _index" [value]="_index">{{item.title}}</option>
                        </select>
                      </div>
                    </dsw-text-edit>
                  </dsw-input-control>
                </div>
                <!-- <div class="col-4">
                  <label class="form-control-label" for="image">Imagem</label>
                  <dsw-file-image-view id="image" formControlName="image"></dsw-file-image-view>
                </div> -->
              </div>

              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-success">Enviar</button>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </form>
</div>